    <div class="sidebar">
      <i class="left-menu-icon fas fa-search" id="search" data-tooltip="Search"></i>
      <i class="left-menu-icon fas fa-home" id="home" data-tooltip="Home"></i>
      <i class="left-menu-icon fas fa-music" id="edm" data-tooltip="Edm"></i>
      <i class="left-menu-icon fas fa-upload" id ="upload" data-tooltip="Upload files"></i>
      <i class="left-menu-icon fas fa-file" id="filedata" data-tooltip="Data"></i>
      <i class="left-menu-icon fas fa-film" id="video" data-tooltip="Video"></i>
      
    </div>