.login-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  max-width:400px;
  margin:0 auto;
  border-radius:10px;
  box-shadow:0 20px 35px rgba(0,0,1,0.9);
  background: rgba(0, 0, 0, 0.6); 
  width:450px;
  padding:0px 50px;
  
}
.login-background{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)),
    url("https://www.desktophut.com/images/1723027733.webp");
  background-size: cover; /* Để hình ảnh luôn phủ kín vùng chứa */
  position: relative;
  min-height: 100vh;
  
}
.kimochi .login-background{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)),
    url("https://motionbgs.com//i/c/960x540/media/6009/tanjiro-water-dragon.jpg");
background-size: cover;
}

input{
    color:inherit;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #757575;
    padding-left:1.5rem;
    font-size:15px;
}
.input-group{
    padding:1% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:black;
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid hsl(327,90%,28%);
}
input::placeholder{
    color:transparent;
}
label{
    color:#757575;
    position:relative;
    left:1.2em;
    top:-1.3em;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:hsl(327,90%,28%);
    font-size:15px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:rgb(125,125,235);
}
.recover a:hover{
    color:blue;
    text-decoration:underline;
}
button{
    padding:8px 0;
    border-radius:5px;
    width:100%;
    cursor:pointer;
    transition:0.9s;
}

.or{
    font-size:1.1rem;
    margin-top:0.5rem;
    text-align:center;
}
.icons{
    text-align:center;
}
.icons i{
    color:rgb(125,125,235);
    padding:0.8rem 1.5rem;
    border-radius:10px;
    font-size:1.5rem;
    cursor:pointer;
    border:2px solid #dfe9f5;
    margin:0 15px;
    transition:1s;
}
.icons i:hover{
    background:#07001f;
    font-size:1.6rem;
    border:2px solid rgb(125,125,235);
}