.shorten-link-text {
  color:#39FF14;
  margin-bottom:10px ;
  display:flex;
  margin-left:10px;
  font-size:18px;
}
.kimochi .shorten-link-text{
  color:#00FFFF;
}
.shorten-link-page{
  padding:10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95)),
    url("https://www.desktophut.com/images/1723027733.webp");
  background-size: cover; 
    min-height: calc(100vh - 70px);
}
.kimochi .shorten-link-page{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95)),
    url("https://motionbgs.com//i/c/960x540/media/6009/tanjiro-water-dragon.jpg");
  background-size: cover; /* Để hình ảnh luôn phủ kín vùng chứa */
}
.link-button{
  padding-left:20px;
  padding-right:20px
}
.finish-shorten{
  display:flex;
  align-items:center;
  gap:10px;
}
.finish-shorten a{
  font-size:16px;
}

