* {
  margin: 0;
}
.container {
  background-color: #151515;
  min-height: 100%;  /* Đảm bảo chiều cao container chiếm toàn bộ màn hình */
  color: white;

}

.content-container {
  margin: 20px 20px 20px 70px;
}
